<div class="container mt-5">
    <h2>Admin Kaydı</h2>
    <form asp-action="RegisterAdmin" method="post">
        <div class="mb-3">
            <label for="Name" class="form-label">Ad</label>
            <input type="text" id="Name" name="Name" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="Surname" class="form-label">Soyad</label>
            <input type="text" id="Surname" name="Surname" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="UserName" class="form-label">Kullanıcı Adı</label>
            <input type="text" id="UserName" name="UserName" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">E-posta</label>
            <input type="email" id="Email" name="Email" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Şifre</label>
            <input type="password" id="Password" name="Password" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">Şifre</label>
            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary">Admin Kaydet</button>
    </form>
</div>
